@model ConfigurationModel

@{
    NopHtml.AddCssFileParts("/lib_npm/farbstastic/farbtastic.css", "");
    NopHtml.AddScriptParts(ResourceLocation.Footer, "/lib_npm/farbstastic/farbtastic.min.js");
}

<div class="card-body">
    <div class="form-group row">
        <div class="col-md-3">
            <nop-override-store-checkbox asp-for="PrimaryThemeColor_OverrideForStore" asp-input="PrimaryThemeColor" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="PrimaryThemeColor" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="PrimaryThemeColor" readonly />
            <div id="primary-color-picker"></div>
            <script asp-location="Footer">
                $(document).ready(function () {
                    $('#primary-color-picker').farbtastic('#@Html.IdFor(model => model.PrimaryThemeColor)');
                });
            </script>
            <span asp-validation-for="PrimaryThemeColor"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-3">
            <nop-override-store-checkbox asp-for="SecondaryThemeColor_OverrideForStore" asp-input="SecondaryThemeColor" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="SecondaryThemeColor" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="SecondaryThemeColor" readonly />
            <div id="secondary-color-picker"></div>
            <script asp-location="Footer">
                $(document).ready(function () {
                    $('#secondary-color-picker').farbtastic('#@Html.IdFor(model => model.SecondaryThemeColor)');
                });
            </script>
            <span asp-validation-for="SecondaryThemeColor"></span>
        </div>
    </div>
</div>

